body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
nav ul {
    list-style: none;
    padding: 0;
    background: #333;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0;
    padding: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

nav ul li a:hover {
    background: #ff6600;
    border-radius: 5px;
}
.hero {
    text-align: center;
    color: black;
    padding: 100px 20px;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero p {
    font-size: 1.2em;
}

.hero a {
    display: inline-block;
    background: #ff6600;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
}

.hero a:hover {
    background: #cc5200;
}
main {
    padding: 20px;
    text-align: center;
}
.product-grid{
    display: flex;
    justify-content: space-between;
}
img {
width: 500px;
height: 500px;
}
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: white;
    margin-top: 20px;
}
